<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:f="http://java.sun.com/jsf/core" 
		xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['bgs:images/favicon.ico']}" />
	</f:facet>
	<title><h:outputText value="#{messages.head_title}" /></title>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
</h:head>

<h:body styleClass="landing-body">
	<div class="landing-wrapper">
		<div id="header">
			<div class="header-top clearfix">
			</div>

			<div class="header-content clearfix">
				<h1>
					<h:outputText value="#{messages.index_welcome}" />
				</h1>
			</div>
		</div>

		<div id="features">

			
			<div class="login-topbar-logo">
				<div class="topbar-left-substidoc">
			        <i class="fa fa-stethoscope" aria-hidden="true"></i>
			    	<h:outputText value="#{messages.logo_topbar_substidoc}" styleClass="topbar-left-substidoc-text" />
				</div>
			</div>
			
			<p>
			</p>

			<div class="ui-g">
				<div class="ui-g-12 ui-md-4">
					<h3>
						<h:outputText value="#{messages.index_login}" />
					</h3>
					<p:button outcome="login" value="Zum Login"  />
				</div>
				<div class="ui-g-12 ui-md-4">
					<h3>
						<h:outputText value="#{messages.index_reg_arzt}" />
					</h3>
					<p:button value="#{messages.index_jetztRegistrieren}" outcome="registerArzt" />
				</div>
				<div class="ui-g-12 ui-md-4">
					<h3>
						<h:outputText value="#{messages.index_reg_praxis}" />
					</h3>
					<p:button value="#{messages.index_jetztRegistrieren}" outcome="registerPraxis" />
				</div>

			</div>
		</div>

	</div>

	<h:outputStylesheet name="css/animate.css" library="ultima-layout" />
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
	<h:outputStylesheet name="css/styles.css" library="bgs" />
</h:body>

</html>